body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: red;

    display: flex;
    justify-content: center;
    align-items: center;


}

.container input{
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
}

.container input:checked {

}

.button{
    background: green;

    width: 200px;
    height: 200px;
}

.button--checked{
    background: blue;
}